name: Auto open & merge PRs

on:
  push:
    branches-ignore:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  open-and-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Create pull request
        uses: peter-evans/create-pull-request@v6
        with:
          branch: ${{ github.ref_name }}
          base: main
          title: "Auto PR from ${{ github.ref_name }}"
          body: "Automatic pull request."
      - name: Auto-merge it
        uses: pascalgn/automerge-action@v0.15.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
